<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>{{page.title}}</title>
		<meta name="viewport" content="width=device-width">

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" media="all">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="all">
		
		<!-- 百度统计 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "//hm.baidu.com/hm.js?2b95222487c5861906f6a22d40ba0f33";
				var s = document.getElementsByTagName("script")[0]; 
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
		<div class="site">
			<div class="header">
				<img class="avatar" src="/assets/img/avatar.jpg" />
				<h1 class="title"><a href="/">{{ site.title }}</a></h1>
				<ul id="ul-navbar">
				<li><a class="nav-link" href="/category/coding/">{{ site.def_categories_cn[0] }}</a></li>
				<li><a class="nav-link" href="/category/algorithm/">{{ site.def_categories_cn[1] }}</a></li>
				<li><a class="nav-link" href="/category/life/">{{ site.def_categories_cn[2] }}</a></li>
				<li><a class="nav-link" href="/category/job/">{{ site.def_categories_cn[3] }}</a></li>
				</ul>
				<a class="nav-link" id="about" href="/about">关于</a>
			</div>

			{{ content }}

			<div class="footer">
				<div class="contact">
					<p>
						{{site.author.name}}<br />
						What You Are<br />
						{{site.author.email}}
					</p>
				</div>
				<div class="contact">
					<p>
						<a href="https://github.com/{{site.author.github_username}}">github.com/{{site.author.github_username}}</a><br />
						<a href="http://weibo.com/{{site.author.weibo_username}}">weibo.com/{{site.author.weibo_username}}</a><br />
					</p>
				</div>
			</div>
        </div>

	</body>
</html>
